<head>
    <link rel="stylesheet" href="/style/detalhesLavaJato.css">
</head>


<main class="main">
        <!--==================== HOME ====================-->
        <section class="home section" id="home">
            <div class="shape shape__big"></div>
            <div class="shape shape__small"></div>

            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__title">
                        Bem vindo, Empresário
                    </h1>

                    <h2 class="home__subtitle">
                        Confira seus pedidos
                    </h2>

                </div>

                <img src="/IMG/popular3.png" alt="" class="home__img">
                </div>
            </div>
        </section>

        <!-- ==================== ABOUT ==================== -->
        <section class="about section" id="about">
            <div class="about__container container grid">
                <div class="about__group">
                    <img src="/IMG/fundo_empresa.webp" alt="" class="about__img">

                    <div class="about__card">
                        <h3 class="about__card-title">300+</h3>
                        <p class="about__card-description">
                            Você tem mais de 300 lavagens
                        </p>
                    </div>
                </div>

                <div class="about__data">
                    <h1>
                        Lava-Jato Lave aqui LTDA {{empresa.RazaoSocial}}
                    </h1>

                    <p class="about__description">
                       Nome: Lave aqui {{empresa.nome_empr}}
                       <br>
                       Local: Villa Ruy Barbosa {{empresa.bairro}}
                       <br>
                       Telefone: (71985532416) {{empresa.telefone}}
                       <br>
                       Site: lave.com {{empresa.site}}
                       <br>
                       <br>

                    <a href="#" class="button">Editar</a>
                </div>
            </div>
        </section>
        <!--==================== FEATURED ====================-->
        <section class="featured section" id="featured">
            <h2 class="section__title">
                Pedidos
            </h2>

            <div class="featured__container container">
                <div class="featured__content grid">
                    <article class="featured__card mix tesla">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Cliente:</h1>

                        <h3 class="featured__subtitle">Placa do Carro</h3>

                        <img src="/IMG/featured1.png" alt="" class="featured__img">

                        <h3 class="featured__price">Valor do Serviço</h3>

                        <button class="button featured__button">
                            <i class="ri-shopping-bag-2-line"></i>
                        </button>
                    </article>

                    <article class="featured__card mix tesla">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Cliente:</h1>

                        <h3 class="featured__subtitle">Placa do Carro</h3>

                        <img src="/IMG/featured2.png" alt="" class="featured__img">

                        <h3 class="featured__price">Valor do Serviço</h3>

                        <button class="button featured__button">
                            <i class="ri-shopping-bag-2-line"></i>
                        </button>
                    </article>

                    <article class="featured__card mix audi">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Cliente:</h1>

                        <h3 class="featured__subtitle">Placa do Carro</h3>

                        <img src="/IMG/featured3.png" alt="" class="featured__img">

                        <h3 class="featured__price">Valor do Serviço</h3>

                        <button class="button featured__button">
                            <i class="ri-shopping-bag-2-line"></i>
                        </button>
                    </article>

                    <article class="featured__card mix Pedido xx">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Cliente:</h1>

                        <h3 class="featured__subtitle">Placa do Carro</h3>

                        <img src="/IMG/featured4.png" alt="" class="featured__img">

                        <h3 class="featured__price">Valor do Serviço</h3>

                        <button class="button featured__button">
                            <i class="ri-shopping-bag-2-line"></i>
                        </button>
                    </article>

                    <article class="featured__card mix Pedido xx">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Cliente:</h1>

                        <h3 class="featured__subtitle">Placa do Carro</h3>

                        <img src="/IMG/featured5.png" alt="" class="featured__img">

                        <h3 class="featured__price">Valor do Serviço</h3>

                        <button class="button featured__button">
                            <i class="ri-shopping-bag-2-line"></i>
                        </button>
                    </article>

                    <article class="featured__card mix tesla">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Cliente:</h1>

                        <h3 class="featured__subtitle">Placa do Carro</h3>

                        <img src="/IMG/featured1.png" alt="" class="featured__img">

                        <h3 class="featured__price">Valor do Serviço</h3>

                        <button class="button featured__button">
                            <i class="ri-shopping-bag-2-line"></i>
                        </button>
                    </article>

                    <article class="featured__card mix tesla">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Cliente:</h1>

                        <h3 class="featured__subtitle">Placa do Carro</h3>

                        <img src="/IMG/featured2.png" alt="" class="featured__img">

                        <h3 class="featured__price">Valor do Serviço</h3>

                        <button class="button featured__button">
                            <i class="ri-shopping-bag-2-line"></i>
                        </button>
                    </article>

                    <article class="featured__card mix audi">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Cliente:</h1>

                        <h3 class="featured__subtitle">Placa do Carro</h3>

                        <img src="/IMG/featured3.png" alt="" class="featured__img">

                        <h3 class="featured__price">Valor do Serviço</h3>

                        <button class="button featured__button">
                            <i class="ri-shopping-bag-2-line"></i>
                        </button>
                    </article>

                    <article class="featured__card mix Pedido xx">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Cliente:</h1>

                        <h3 class="featured__subtitle">Placa do Carro</h3>

                        <img src="/IMG/featured4.png" alt="" class="featured__img">

                        <h3 class="featured__price">Valor do Serviço</h3>

                        <button class="button featured__button">
                            <i class="ri-shopping-bag-2-line"></i>
                        </button>
                    </article>
                </div>
            </div>
        </section>
    </main>